@{
    ViewData["Title"] = "Google";
}
<div style=" height:163px"></div>
<!-- Google Image-->
<!----------------->
<div class="text-center">
    <img src="Images\Google2.png" id="GooglePic" alt="Alternate Text" />
</div>
<div style=" height:15px"></div>
<!----------------->
<!----------------->

<!--  Search Bar -->
<!----------------->
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-6">
           
            <form>
               
                <div class="input-group mb-3">
                    <div class="leftSide">
                      <i class="fa fa-camera searchIcon" style="font-size:16px"></i> <i class="fa fa-microphone searchIcon" style="font-size:16px"></i><i class="fa fa-keyboard-o searchIcon" style="font-size:16px"></i>
                    </div>
                    <input type="text" class="form-control searchArea" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btnSrch" type="submit" id="button-srch>"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!----------------->
<!----------------->

<!--  Search Bar Button -->
<!------------------------>
<div class="container">
    <div class="row">
        <div class="col-6 btn1"> <button type="button" class="btn btnAll  ">Google Search</button> </div>
        <div class="col-6"> <button type="button" class="btn btnAll">I'm feeling lucky'</button></div>
    </div>
</div>
<!------------------------>
<!------------------------>
<div style=" height:20px"></div>
<!--  Search Bar Text -->
<!---------------------->
<div class="container col-lg-6 col-m-6 col-s-6 col-xs-6 TxtDown" style="">
    <img src="Images\googleSheald.png" alt="Alternate Text" width=" 30px" />
    Stay safe online <a href="https://safety.google/security/security-tips/?utm_source=HPP&utm_medium=Owned&utm_campaign=CAM2024EMEA" id="Line">this Cybersecurity Awareness Month</a>

</div>
<!---------------------->
<!---------------------->
<div style=" height:40px"></div>
<!--  Search Bar Text -->
<!---------------------->
<div class="container col-lg-6 col-m-6 col-s-6 col-xs-6 TxtDown" style="">
    Google offered in:<a id="Line"> العربية</a>

</div>
<!---------------------->
<!---------------------->


