@using Core.Entites

@{
    ViewData["Title"] = "Result";
}
@model List<Posted>
<!--------------------------------------->
<!--------Nav Bar Start------------------>
<nav class="navbar bg-body-tertiary NavContent">
    <div class="container-fluid ">
        <div class="row" style="width:100%">
            <div class="col-1 BrandSearchCol"><a href="~/">
                    <img class="BrandSearch" src="~/Images/Google2.png" alt="Google Brand" />
                </a>
            </div>
            <div class="col-6 ">

                <!--  Search Bar -->
                <!----------------->

                <div class="row justify-content-center">

                    <div class="col-md-6" style="width:100%!important">
                        <form method="post" asp-controller="Home" asp-action="Search">

                            <div class="input-group mb-3">
                                <div class="leftSide">
                                    <i class="fa fa-camera searchIcon" style="font-size:16px"></i> <i class="fa fa-microphone searchIcon" style="font-size:16px"></i><i class="fa fa-keyboard-o searchIcon" style="font-size:16px"></i>
                                </div>

                                <input type="text" name="Title" id="Title" class="form-control searchArea" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                <button class="btn btnSrch" type="submit" id="button-srch"> <i class="fa fa-search"></i></button>

                            </div>
                        </form>
                    </div>
                </div>

                <!----------------->
                <!----------------->
            </div>
            <div class="col-5 navDicoritional">
                <div class="navbar bg-body-tertiary" id="navbarSupportedContent">
                    <a href="#">
                        <img class="profImage" src="~/Images/Profile.jpg" alt="Alternate Text" />
                        <div class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <img class="graidPic" src="~/Images/graid.png" alt="Alternate Text" />
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#">Images</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="https://mail.google.com/mail/u/0/">Gmail</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--------Nav Bar End------------------>
<!------------------------------------->


<!---------------------------------->
<!------Content--------------------->
<div class="LineBetween">
</div>
<div class="container pad">

    <div class="row">
        <div class="col-9">
            @if (Model.Count > 0)
            {  @foreach (var item in Model)
                {
                    <h3> <a class="Contant">@item.Title  </a></h3>
                    <p>@item.Contatns</p>
                }
            }
            else
            {
                <h3>Model.Title</h3>
                <p>Model.Contatns</p>

            }

        </div>
        <div class="col-3 borderLeft">

            <h3>@Model[0].Title</h3>
            <p>@Model[0].Contatns</p>
        </div>
    </div>
</div>
<!-----------Content----------------->
<!---------------------------------->

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted footer">
    <div class=" d-none d-lg-block">
    <!-- Section: Social media -->

        <section class="  justify-content-center justify-content-lg-between p-4 border-bottom Sect" style="padding-left:0px !important; padding-top: 16px !important;">
        <!-- Left -->

            <div class="container">
           Jordan
                <span class="FooterSpan">
                    <i class="fa fa-circle" style="font-size:12px;"></i>
                    Al Jama'a, Amman
                </span>

                <span>
                    - <a class="Contant" href="#" style="font-size: 12px!important;">
                        Based on your places (Home) - Update location
                    </a>
                </span>
            </div>
                <hr  /">
          


        
    </div>
</footer>
<!-- Footer -->